// ------------------------------------
// Components > Card Callout / Editor
// ------------------------------------

.c-content {
  .kg-callout-card {

    + .kg-callout-card {
      margin-top: double($base-spacing-unit);
    }

    .kg-callout-text {
      font-size: $font-size-base;
    }
  }

  .kg-callout-card-white {
    box-shadow: inset 0 0 0 1px $color-border;
  }
}