// ------------------------------------
// Components > Card Blockquote / Editor
// ------------------------------------

.kg-blockquote-alt {

  text-align: center;
  font-style: italic;
  padding: 0 var(--space-125);
}